body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-form .form-group {
  padding: 0 0 10px 0;
  display: block
}

.navbar-form .form-group .enquiry {
    min-height: 200px;
    min-width: 300px;
    resize: vertical;
    overflow: scroll
}
